@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.color-picker-container {
    background-color: #fff;
    height: 100vh;
}

.main-heading {
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 800;
}

.button {
    font-family: "Open Sans";
    font-size: 14px;
    height: 100px;
    width: 100px;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
}

.button1 {
    background-color: #e0e0e0;
}

.button2 {
    background-color: #6fcf97;
}

.button3 {
    background-color: #56ccf2;
}

.button4 {
    background-color: #bb6bd9;
}

.selected-color-text {
    background-color: #222222;
    text-align: center;
    color: white;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    padding: 16px;
    margin-left: 30px;
    margin-right: 30px;
}

.selected-color-hexcode {
    color: #49a6e9;
}

.color-picker-instruction {
    font-family: "Open Sans";
    font-size: 20px;
}